*.swp
*.bak
*.zip
*.ged
*.sass-cache
*.yml
npm-debug.log
/node_modules
package.json
prepros-*.config

/data/cache/
/data/media/
/data/histo*
/data/config.ini.php
/data/fancy_treeview_descendants_cache
/data/fancy_treeview_ancestors_cache
/data/media_watermarks_cache

/language/unused languages

#swiftmailer
/library/swiftmailer/tests
/library/swiftmailer/doc

/modules_v4/database_backup/vendor/r23/msd/work
/modules_v4/gallery/galleria/themes/azur
/modules_v4/gallery/galleria/themes/folio
/modules_v4/gallery/galleria/themes/fullscreen
/modules_v4/gallery/galleria/themes/miniml
/modules_v4/gallery/galleria/themes/twelve

themes/*/scss

/uploads
latest_ktn_version.txt

myheader.php
mystyle.css
mytheme.php
myfooter.php
