*.swp
*.bak
*.zip
*.ged
*.sass-cache
*.yml
.php_cs
.DS_Store
npm-debug.log
/node_modules
package.json
prepros.config

/data/cache/
/data/media/
/data/histo*
/data/config.ini.php
/data/fancy_treeview_descendants_cache
/data/fancy_treeview_ancestors_cache
/data/media_watermarks_cache
/data/.php_cs.cache

/language/unused languages

#swiftmailer
/library/swiftmailer/tests
/library/swiftmailer/doc

#colorbox
/library/colorbox/content
/library/colorbox/example*
/library/colorbox/i18n
/library/colorbox/jquery.colorbox.js
/library/colorbox/colorbox.ai
/library/colorbox/bower.json
/library/colorbox/LICENSE.md
/library/colorbox/README.md
/library/colorbox/package.json

#lightGallery
/library/lightGallery

#php-diff
/library/php-diff/example

#Mobile-Detect
!/library/Mobile-Detect/
/library/Mobile-Detect/*
!library/Mobile-Detect/Mobile_Detect.php

/modules_v4/database_backup/vendor/r23/msd/work
/modules_v4/gallery/galleria/themes/azur
/modules_v4/gallery/galleria/themes/folio
/modules_v4/gallery/galleria/themes/fullscreen
/modules_v4/gallery/galleria/themes/miniml
/modules_v4/gallery/galleria/themes/twelve

themes/*/scss

/uploads
latest_ktn_version.txt
developer_aids.txt

myheader.php
mystyle.css
mytheme.php
myfooter.php
