#pedigree-page #pedigree_chart {
    position: relative;
    font-size: 0.9rem;
    display: flex;
    flex: auto;
}

#pedigree-page svg {
    display: block;
    margin: auto;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    -webkit-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.4));
}

#pedigree-page .person rect {
    stroke: rgb(175, 175, 175);
    stroke-dasharray: 5;
    stroke-width: 0.1rem;
}

#pedigree-page .person rect.female {
    stroke: rgb(255, 32, 128);
    stroke-dasharray: none;
}

#pedigree-page .person rect.male {
    stroke: rgb(129, 169, 203);
    stroke-dasharray: none;
}

#pedigree-page .person {
}

#pedigree-page .person rect.image {
    stroke: rgb(175, 175, 175);
}

#pedigree-page .link {
    fill: none;
    stroke: rgb(175, 175, 175);
    stroke-width: 0.125rem;
}

#pedigree-page .person a.gallery img,
#pedigree-page .person a.gallery {
    float: left;
    height: 4rem;
    margin: 0 2px 0 0;
    max-width: 5rem;
    width: auto;
}

#pedigree-page svg:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#pedigree-page svg text {
    font-weight: bold;
}

#pedigree-page svg text.lifespan,
#pedigree-page svg text.bplace {
	font-weight: normal;
	font-size: 0.8rem;
}


/* Unset any style from our transition helper classes */
#pedigree-page svg .new,
#pedigree-page svg .remove,
#pedigree-page svg .update,
#pedigree-page svg .old {
    all: unset;
}

#pedigree-page svg .person.available {
    cursor: pointer;
}

#pedigree-page svg .person .arc path {
    fill: rgb(240, 240, 240);
    stroke: rgb(175, 175, 175);
    stroke-width: .25rem;
}

#pedigree-page svg .person.hover .arc path {
    fill: rgb(250, 250, 250);
}

#pedigree-page svg .person.available .arc path {
    fill: rgb(250, 250, 250);
}

#pedigree-page svg .person.available.hover .arc path {
    fill: rgb(240, 240, 240);
}

#pedigree-page svg .label {
    font-weight: normal;
}

#pedigree-page svg .label .alternativeName {
    fill: #7f7f7f;
    font-weight: normal;
    unicode-bidi: normal;
}

#pedigree-page svg .label .date {
    fill: #7f7f7f;
    font-weight: normal;
    unicode-bidi: plaintext;
}

#pedigree-page svg rect.background {
    fill: none;
    pointer-events: all;
}

#pedigree-page div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: 10px sans-serif;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: opacity ease-in-out;
    transition-duration: 0s;
}

#pedigree-page div.overlay .tooltip {
    font-size: 1.25rem;
    color: white;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    text-align: center;
}
