@import url("https://fonts.googleapis.com/css?family=Taviraj");
/* color variables */
#galleria {
	border: 0.25rem inset #e0e0e0;
	display: inline-block;
	font-family: "Taviraj", serif !important;
	height: 800px;
	vertical-align: top;
}
#galleria.kiwitreesLinked {
	width: 84%;
}
#galleria.kiwitrees, #galleria.uploads, #galleria.other {
	display: block;
	margin: auto;
	width: 93%;
}

.galleria-layer {
	display: none !important;
}

#galleria-loader {
	height: 1px !important;
}

.galleria-theme-kahikatoa {
	position: relative;
	overflow: hidden;
	background: none;
}
.galleria-theme-kahikatoa img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.galleria-theme-kahikatoa .galleria-stage {
	position: absolute;
	top: 10px;
	bottom: 90px;
	left: 10px;
	right: 50px;
	overflow: hidden;
	margin: 10px 8px 60px 8px;
}
.galleria-theme-kahikatoa .galleria-bar {
	background: #faf5e8;
	bottom: 10px;
	color: #ab3334;
	font-size: 1rem;
	height: 130px;
	left: 1%;
	overflow: hidden;
	position: absolute;
	right: auto;
	width: 95%;
	z-index: 3;
}
.galleria-theme-kahikatoa .galleria-bar .galleria-fullscreen,
.galleria-theme-kahikatoa .galleria-bar .galleria-play {
	cursor: pointer;
	position: absolute;
	top: 5px;
}
.galleria-theme-kahikatoa .galleria-bar .galleria-fullscreen {
	border-right: 1px solid #8a8a8a;
	left: 10px;
}
.galleria-theme-kahikatoa .galleria-bar .galleria-fullscreen::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f35d";
	display: none;
}
.galleria-theme-kahikatoa .galleria-bar .galleria-play {
	left: 50px;
}
.galleria-theme-kahikatoa .galleria-bar .galleria-play::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f04b";
	display: none;
}
.galleria-theme-kahikatoa .galleria-play.pause {
	left: 50px;
}
.galleria-theme-kahikatoa .galleria-play.pause::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f04c";
	display: none;
}
.galleria-theme-kahikatoa .galleria-thumbnails-container {
	border-top: 1px solid #8a8a8a;
	height: 100px;
	bottom: 0;
	font-size: 1.25rem;
	position: absolute;
	left: 20px;
	right: 20px;
	z-index: 2;
	margin-bottom: 0;
	padding: 0 1.25rem;
}
.galleria-theme-kahikatoa .galleria-thumbnails-container .disabled {
	opacity: 0.2;
	cursor: default;
}
.galleria-theme-kahikatoa .galleria-thumbnails-container .galleria-thumb-nav-left {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 3;
}
.galleria-theme-kahikatoa .galleria-thumbnails-container .galleria-thumb-nav-left::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f0d9";
	display: none;
}
.galleria-theme-kahikatoa .galleria-thumbnails-container .galleria-thumb-nav-right {
	cursor: pointer;
	position: absolute;
	top: 40px;
	z-index: 3;
	right: 0;
}
.galleria-theme-kahikatoa .galleria-thumbnails-container .galleria-thumb-nav-right::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f0da";
	display: none;
}
.galleria-theme-kahikatoa .galleria-thumbnails .galleria-image {
	height: 90px;
	width: auto;
	background: none;
	margin: 5px;
	border: 1px solid #8a8a8a;
	float: left;
	cursor: pointer;
}
.galleria-theme-kahikatoa .galleria-thumbnails .galleria-image.active {
	border: 5px solid #ab3334;
}
.galleria-theme-kahikatoa .galleria-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #ab3334;
	font-size: 15px;
	z-index: 4;
}
.galleria-theme-kahikatoa .galleria-loader {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	font-size: 3rem;
	position: absolute;
	top: 50%;
	right: 50%;
	z-index: 2;
	display: none;
}
.galleria-theme-kahikatoa .galleria-loader::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f110";
	display: none;
}
.galleria-theme-kahikatoa .galleria-info {
	color: #ab3334;
	left: 40px;
	position: absolute;
	top: -5px;
	width: 90%;
	z-index: 2;
}
.galleria-theme-kahikatoa .galleria-info .galleria-info-text {
	background-color: #fffff4;
	font-size: 16px;
	padding: 16px;
	display: none;
}
.galleria-theme-kahikatoa .galleria-info .galleria-info-text .galleria-info-title {
	font-weight: 900;
	margin: 0;
	color: #ab3334;
	margin-bottom: 7px;
}
.galleria-theme-kahikatoa .galleria-info .galleria-info-text .galleria-info-description {
	font-size: 15px;
	font-style: italic;
	margin: 0;
	color: #ab3334;
}
.galleria-theme-kahikatoa .galleria-info-link {
	cursor: pointer;
	font-size: 1.25rem;
	left: -30px;
	position: absolute;
	top: 0;
}
.galleria-theme-kahikatoa .galleria-info-link::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f05a";
	display: none;
}
.galleria-theme-kahikatoa .galleria-info-close {
	cursor: pointer;
	display: none;
	font-size: 1.25rem;
	left: -30px;
	position: absolute;
	top: 0;
}
.galleria-theme-kahikatoa .galleria-info-close::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f00d";
	display: none;
}
.galleria-theme-kahikatoa .galleria-image-nav {
	font-size: 2rem;
	left: 0;
	margin-top: -62px;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 62px;
}
.galleria-theme-kahikatoa .galleria-image-nav .galleria-image-nav-left {
	background-color: #cacaca;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}
.galleria-theme-kahikatoa .galleria-image-nav .galleria-image-nav-left::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f053";
	display: none;
}
.galleria-theme-kahikatoa .galleria-image-nav .galleria-image-nav-right {
	background-color: #cacaca;
	cursor: pointer;
	font-size: 2rem;
	right: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}
.galleria-theme-kahikatoa .galleria-image-nav .galleria-image-nav-right::before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f054";
	display: none;
}

.galleria-theme-kahikatoa.notouch .galleria-info-link:hover {
	opacity: 1;
}
.galleria-theme-kahikatoa.notouch .galleria-image-nav-left:hover {
	opacity: 1;
}
.galleria-theme-kahikatoa.notouch .galleria-image-nav-right:hover {
	opacity: 1;
}
.galleria-theme-kahikatoa.notouch .galleria-thumb-nav-left:hover {
	opacity: 1;
	background-color: #8a8a8a;
}
.galleria-theme-kahikatoa.notouch .galleria-thumb-nav-right:hover {
	opacity: 1;
	background-color: #8a8a8a;
}
.galleria-theme-kahikatoa.notouch .galleria-thumbnails-container .disabled:hover {
	opacity: 0.2;
	background-color: transparent;
}

.galleria-theme-kahikatoa.touch .galleria-info-link:active {
	opacity: 1;
}
.galleria-theme-kahikatoa.touch .galleria-image-nav-left:active {
	opacity: 1;
}
.galleria-theme-kahikatoa.touch .galleria-image-nav-right:active {
	opacity: 1;
}
.galleria-theme-kahikatoa.touch .galleria-thumb-nav-left:active {
	opacity: 1;
	background-color: #8a8a8a;
}
.galleria-theme-kahikatoa.touch .galleria-thumb-nav-right:active {
	opacity: 1;
	background-color: #8a8a8a;
}

.galleria-theme-kahikatoa.galleria-container.videoplay .galleria-info {
	display: none !important;
}

#gallery-page .tabs-content {
	padding: 1rem;
}
#gallery-page .gallery_content {
	padding: 0.9375rem;
}
#gallery-page #links_bar {
	display: inline-block;
	font-size: 0.9rem;
	width: 15%;
	vertical-align: top;
}
#gallery-page #links_bar h5 {
	margin: 0 0 10px 0;
	padding: 0;
}
#gallery-page #links_bar hr {
	clear: both;
	margin: 5px 0 10px;
}
#gallery-page #links_bar .image_option img {
	margin: 5px;
}
#gallery-page #links_bar .edit_links ul.menu {
	text-align: left;
	justify-content: left;
}
#gallery-page #links_bar .edit_links ul.menu li {
	display: block;
	justify-content: left;
}
#gallery-page #links_bar .edit_links ul.menu li a {
	padding: 0;
}
#gallery-page #links_bar #image_links {
	font-size: 0.95rem;
	margin: 0 0.5rem;
}
#gallery-page a#copy {
	font-size: 0.8rem;
	font-style: italic;
}