.lang-active {
	color: #5da423 !important;
	font-weight: 600;
}

.strong {
	font-weight: 600;
}

label.radio_inline {
	display: inline-block !important;
	padding-left: 1.25rem;
}

a:hover {
	color: #5da423;
}

button {
	min-width: 6rem;
}
button .svg-inline--fa {
	margin: 0 0.5rem -0.1rem 0;
}

.loading-image {
	height: 2rem;
	text-align: center;
	color: #34689c;
}

#flash-messages {
	margin: 1rem;
}

div.allcontent {
	height: 98% !important;
}

a.morelink {
	display: block;
	font-size: 1rem;
	font-weight: 900;
	text-align: right;
}
a.morelink.less {
	color: #5da423;
}

.vertList {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	max-height: 20rem;
	overflow: hidden;
}
.vertList label {
	vertical-align: top;
}

div[id$=-page] {
	padding: 1rem;
}
div[id$=-page] div.cell.titles {
	padding-bottom: 1rem;
}

div.relatedPages {
	border-bottom: 0.125rem solid #e6e6e6;
	box-shadow: 0.25rem 0.25rem 0.5rem 0 #878787;
	margin-top: 1.5rem;
}
div.relatedPages label {
	display: inline-block;
	font-weight: 600;
	padding-left: 2rem;
	padding-right: 2rem;
}
div.relatedPages .button.large-down-expanded {
	margin: 0 0.125rem 0.125rem 0;
	width: 13%;
	white-space: nowrap;
}
div.relatedPages.hide-for-large {
	box-shadow: none;
}
div.relatedPages.hide-for-large label {
	display: block;
	font-size: 0.9rem;
	font-weight: normal;
	line-height: 0;
	margin: 0.5rem;
	padding: 0;
}
div.relatedPages.hide-for-large .button.hollow.tiny {
	font-size: 0.75rem;
	margin: 0.25rem;
	padding: 0.25rem;
}

.alert {
	color: #ff0000;
}

.warning {
	color: #ffae00;
}

.success {
	color: #5da423;
}

.hidden {
	display: none;
}
.hidden.shown {
	display: block;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
body nav,
body footer {
	flex-shrink: 0;
}
body main {
	min-height: 66vh;
	flex: 1 0 auto;
}

.kiwitrees_logo {
	background: url(../images/kiwitrees-nova_logo_white.png) no-repeat center left;
	background-size: contain;
	height: 2.25rem;
	width: 10rem;
}

nav#admin-head {
	background-color: #34689c;
	color: #fefefe;
	z-index: 1;
}
nav#admin-head .top-bar {
	width: 100%;
}
nav#admin-head .top-bar .top-bar-right .input-group {
	margin-bottom: 0;
}
nav#admin-head .top-bar .top-bar-right .input-group svg.svg-inline--fa.fa-magnifying-glass {
	color: #34689c;
}
nav#admin-head .top-bar .top-bar-left .menu a {
	color: #fefefe;
}
nav#admin-head .top-bar .top-bar-left .menu a svg {
	margin: 0 0.25rem;
}
nav#admin-head .top-bar .top-bar-left .menu .is-dropdown-submenu {
	top: 70%;
}
nav#admin-head .top-bar .top-bar-left .menu .is-dropdown-submenu a {
	color: #1b1212;
	font-size: 90%;
	padding: 0.25rem;
}
nav#admin-head .top-bar .top-bar-left .menu .is-dropdown-submenu a:hover {
	background-color: #e6e6e6;
	color: #5da423;
}
nav#admin-head .top-bar .top-bar-left .menu li ul li svg {
	display: none;
}
nav#admin-head .top-bar .top-bar-left .menu li ul li span {
	color: #1b1212;
}
nav#admin-head #admin-title {
	background-color: #34689c;
	color: #fefefe;
	margin: 0;
	padding: 0.5rem;
}
nav#admin-head div.hide-for-large {
	background-color: #34689c;
	position: fixed;
	z-index: 999;
}
nav#admin-head div.hide-for-large ul.dropdown.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 1.25rem;
	height: 3.5rem;
	list-style: none;
	justify-content: space-around;
	margin: 0;
	padding: 0.25rem 0.75rem;
	width: 100%;
}
nav#admin-head div.hide-for-large ul.dropdown.menu svg.svg-inline--fa {
	color: #fefefe;
}
nav#admin-head div.hide-for-large ul.dropdown.menu li,
nav#admin-head div.hide-for-large ul.dropdown.menu li.is-dropdown-submenu-parent {
	text-align: center;
	width: 3rem;
}
nav#admin-head div.hide-for-large ul.dropdown.menu li a::after,
nav#admin-head div.hide-for-large ul.dropdown.menu li.is-dropdown-submenu-parent a::after {
	display: none;
}
nav#admin-head div.hide-for-large ul.dropdown.menu li span.mobileLabel,
nav#admin-head div.hide-for-large ul.dropdown.menu li.is-dropdown-submenu-parent span.mobileLabel {
	color: #fefefe;
	display: inline-block;
	font-size: 0.8rem;
	text-align: center;
	vertical-align: top;
}
nav#admin-head div.hide-for-large ul.dropdown.menu li ul.is-dropdown-submenu,
nav#admin-head div.hide-for-large ul.dropdown.menu li.is-dropdown-submenu-parent ul.is-dropdown-submenu {
	padding: 0.25rem 0.5rem;
	top: 100%;
}
nav#admin-head div.hide-for-large ul.dropdown.menu li ul.is-dropdown-submenu li,
nav#admin-head div.hide-for-large ul.dropdown.menu li.is-dropdown-submenu-parent ul.is-dropdown-submenu li {
	padding: 0;
	width: 100%;
}
nav#admin-head div.hide-for-large ul.dropdown.menu li ul.is-dropdown-submenu li a,
nav#admin-head div.hide-for-large ul.dropdown.menu li.is-dropdown-submenu-parent ul.is-dropdown-submenu li a {
	font-size: 1.25rem;
	line-height: 1.5rem;
	padding: 0;
	text-align: initial;
	white-space: nowrap;
}
nav#admin-head div.hide-for-large ul.dropdown.menu li ul.is-dropdown-submenu li a svg.svg-inline--fa,
nav#admin-head div.hide-for-large ul.dropdown.menu li.is-dropdown-submenu-parent ul.is-dropdown-submenu li a svg.svg-inline--fa {
	display: none;
}
nav#admin-head div.hide-for-large ul.dropdown.menu li ul.search,
nav#admin-head div.hide-for-large ul.dropdown.menu li.is-dropdown-submenu-parent ul.search {
	list-style-type: none;
	margin: 0;
}

main .mobile-space {
	height: 3rem;
}
main aside {
	box-shadow: 0.25rem 0.25rem 0.5rem 0 #878787;
	clip-path: inset(0 -1rem 0 0);
}
main aside ul#admin-menu li a {
	font-size: 1.125rem;
	line-height: 1.5;
	padding: 0.5rem;
	margin: 0.5rem 0;
}
main aside ul#admin-menu li a.current {
	background-color: #fefefe;
	color: #5da423;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
main aside ul#admin-menu li a svg {
	margin: 0 0.5rem;
	width: 1.25rem;
}
main aside ul#admin-menu li #adminQueryResult {
	padding: 0.25rem;
	margin-top: -0.5rem;
}
main aside ul#admin-menu li #adminQueryResult h6 {
	max-width: 88%;
	padding: 0;
}
main aside ul#admin-menu li #adminQueryResult h6 span {
	font-style: italic;
	background-color: #ffd780;
	padding: 0.125rem 0.25rem;
}
main aside ul#admin-menu li #adminQueryResult ul li a {
	font-size: 0.95rem;
	margin: 0;
	padding: 0;
}
main aside ul#admin-menu li #adminQueryResult p {
	font-size: 97%;
	line-height: auto;
	margin: 0;
	padding: 0;
}
main aside ul#admin-menu li #adminQueryResult .close-button {
	font-weight: 600;
	font-size: 2rem;
	min-width: 1rem;
	right: 0.25rem;
	top: 0;
}
main aside ul#admin-menu form .input-group input.input-group-field#term {
	font-size: 0.9rem;
}
main aside ul#admin-menu form .input-group .input-group-label {
	padding: 0 0.5rem;
}
main aside ul#admin-menu form .input-group .input-group-label a {
	margin: 0;
	padding: 0;
}
main #admin-content {
	min-height: 80vh;
}
main #admin-content #system-status div {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
main #admin-content #system-status div label.h6,
main #admin-content #system-status div p {
	font-weight: 700;
	padding: 0;
}
main #admin-content #system-status div p {
	font-size: 92%;
	margin: 0;
}
main #admin-content #system-status div p span {
	font-weight: 400;
}
main #admin-content #system-status .callout {
	margin: 0.5rem;
	padding: 0.275rem 0.9375rem;
}
main #admin-content .listStyleNone {
	list-style: none;
}
main #admin-content .accordion .accordion-item .accordion-title:before {
	font-family: "Font Awesome 6 Free";
	font: var(--fa-font-solid);
	content: "\f150";
	display: none;
}
main #admin-content .accordion .accordion-item.is-active > .accordion-title:before {
	font: var(--fa-font-solid);
	content: "\f151";
}
main #admin-content .accordion .accordion-item .accordion-title {
	color: #fefefe;
	font-weight: 600;
}
main #admin-content .accordion .accordion-item .accordion-title .subheader {
	font-size: 85%;
	font-style: italic;
}
main #admin-content .accordion .accordion-item .accordion-title .subheader:hover, main #admin-content .accordion .accordion-item .accordion-title .subheader:focus {
	color: #1b1212;
}
main #admin-content .accordion .accordion-item .accordion-title:hover, main #admin-content .accordion .accordion-item .accordion-title:focus {
	color: #1b1212;
}
main #admin-content .accordion .accordion-item .accordion-title svg:not(.default) {
	position: absolute;
	right: 1rem;
	margin-top: 0.35rem;
}
main #admin-content .accordion .accordion-item .accordion-title:first-child {
	line-height: 2;
	padding-top: 0.5rem;
	padding-bottom: 0;
}
main #admin-content .accordion .accordion-item .accordion-title:first-child span:first-child {
	vertical-align: top;
}
main #admin-content .accordion .accordion-item .accordion-title .fa-layers {
	border: none;
	margin: 0 1.5rem;
}
main #admin-content .accordion .accordion-item .accordion-title .fa-layers.warning {
	color: #ff0000;
}
main #admin-content .accordion .accordion-item .accordion-title .fa-layers-counter {
	transform: scale(var(--fa-counter-scale, 0.35));
}
main #admin-content .accordion .accordion-item .accordion-title.icons svg {
	position: initial;
}
main #admin-content .accordion .accordion-item .accordion-content .button-group {
	width: 100%;
}
main #admin-content .accordion .accordion-item .accordion-content .button-group .button {
	margin: 0.25rem;
}
main #admin-content .accordion .accordion-item .accordion-content table.admin_users th {
	font-weight: 400;
	text-align: left;
	width: 20rem;
}
main #admin-content .accordion .accordion-item .accordion-content table.admin_trees th:first-child, main #admin-content .accordion .accordion-item .accordion-content table.admin_recent th:first-child {
	min-width: 13rem;
}
main #admin-content .tabs .tabs-title a {
	font-size: 100%;
	font-weight: 700;
}
main #admin-content .tabs-content .shortcontent .callout,
main #admin-content .tabs-content .allcontent .callout {
	font-size: inherit;
}
main #admin-content .tabs-content .callout {
	font-size: 90%;
}
main #admin-content .tabs-content .callout .info-help {
	font-size: inherit;
}
main #admin-content .tabs-content .input-group.tree_xref span {
	width: 86%;
}
main #admin-content .tabs-content #tree_extend {
	display: inline;
}
main #admin-content .tabs-content #tree_extend .tree_extend {
	display: inline;
	width: auto;
}
main #admin-content .tabs-content .theme_box {
	margin: 0.9375rem;
}
main #admin-content .tabs-content .theme_box.current_theme {
	border-color: #5da423;
}
main #admin-content .tabs-content .theme_box .card-divider .select {
	margin-top: 0.15rem;
	width: 100%;
}
main #admin-content .tabs-content .theme_box img {
	width: 100%;
}
main #admin-content .tabs-content .chosen-choices {
	padding: 0.5rem;
}
main #admin-content .tabs-content .chosen-drop ul.chosen-results {
	max-height: 20rem;
}
main #admin-content .tabs-content .chosen-drop ul.chosen-results li {
	float: left;
	width: 20rem;
}
main #admin-content .tabs-content .accordion .accordion-content {
	background-color: #e6e6e6;
	margin: 0 2rem;
}
main #admin-content .tabs-content .accordion .accordion-content #tree_places {
	line-height: 3;
}
main #admin-content .tabs-content .accordion .accordion-title {
	background: none;
	border: none;
	font-weight: normal;
	font-size: 1rem;
	padding: 0 2rem;
	width: 20rem;
}
main #admin-content .tabs-content .accordion .accordion-title svg {
	position: absolute;
	left: 0.25rem;
	margin-top: 0.5rem;
}
main #admin-content .tabs-content .accordion .accordion-title:before {
	font: var(--fa-font-solid);
	content: "\f150";
	font-family: "Font Awesome 6 Free";
	display: none;
}
main #admin-content .tabs-content .accordion.is-active > .accordion-title:before {
	font: var(--fa-font-solid);
	content: "\f151";
}
main #admin-content .faq_link {
	float: right;
	font-size: 0.9rem;
	padding: 0 1.25rem;
}
main #admin-content h4.inline {
	display: inline;
}
main #admin-content .input-group span.has-tip {
	border: none;
}
main #admin-content .input-group select,
main #admin-content .input-group input,
main #admin-content .input-group .button,
main #admin-content .input-group .input-group-label {
	height: 2.75rem;
}
main #admin-content .input-group select span,
main #admin-content .input-group input span,
main #admin-content .input-group .button span,
main #admin-content .input-group .input-group-label span {
	padding-left: 1rem;
}
main #admin-content code.alert {
	border: none;
	color: #5da423;
}
main #admin-content .mediaUpload {
	background-color: #e6e6e6;
}
main #admin-content .mediaUpload select {
	margin: 0;
}
main #admin-content .mediaUpload span.fileName {
	font-size: 0.9rem;
	display: inline-block;
	padding-bottom: 1rem;
	vertical-align: middle;
}
main #admin-content #site_admin-page div.card,
main #admin-content #tree_admin-page div.card,
main #admin-content #user_admin-page div.card,
main #admin-content #media_admin-page div.card,
main #admin-content #modules_admin-page div.card,
main #admin-content #custom_admin-page div.card,
main #admin-content #tools_admin-page div.card {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
main #admin-content #site_admin-page div.card div.card-divider a,
main #admin-content #tree_admin-page div.card div.card-divider a,
main #admin-content #user_admin-page div.card div.card-divider a,
main #admin-content #media_admin-page div.card div.card-divider a,
main #admin-content #modules_admin-page div.card div.card-divider a,
main #admin-content #custom_admin-page div.card div.card-divider a,
main #admin-content #tools_admin-page div.card div.card-divider a {
	height: 3rem;
	width: 94%;
}
main #admin-content #site_admin-page div.card div.card-divider span,
main #admin-content #tree_admin-page div.card div.card-divider span,
main #admin-content #user_admin-page div.card div.card-divider span,
main #admin-content #media_admin-page div.card div.card-divider span,
main #admin-content #modules_admin-page div.card div.card-divider span,
main #admin-content #custom_admin-page div.card div.card-divider span,
main #admin-content #tools_admin-page div.card div.card-divider span {
	margin-top: -0.75rem;
}
main #admin-content #site_admin-page div.card div.card-divider span.alert,
main #admin-content #tree_admin-page div.card div.card-divider span.alert,
main #admin-content #user_admin-page div.card div.card-divider span.alert,
main #admin-content #media_admin-page div.card div.card-divider span.alert,
main #admin-content #modules_admin-page div.card div.card-divider span.alert,
main #admin-content #custom_admin-page div.card div.card-divider span.alert,
main #admin-content #tools_admin-page div.card div.card-divider span.alert {
	color: #ff0000;
}
main #admin-content #site_admin-page div.card div.card-divider span.warning,
main #admin-content #tree_admin-page div.card div.card-divider span.warning,
main #admin-content #user_admin-page div.card div.card-divider span.warning,
main #admin-content #media_admin-page div.card div.card-divider span.warning,
main #admin-content #modules_admin-page div.card div.card-divider span.warning,
main #admin-content #custom_admin-page div.card div.card-divider span.warning,
main #admin-content #tools_admin-page div.card div.card-divider span.warning {
	color: #ffae00;
}
main #admin-content #site_admin-page div.card div.card-divider span.info,
main #admin-content #tree_admin-page div.card div.card-divider span.info,
main #admin-content #user_admin-page div.card div.card-divider span.info,
main #admin-content #media_admin-page div.card div.card-divider span.info,
main #admin-content #modules_admin-page div.card div.card-divider span.info,
main #admin-content #custom_admin-page div.card div.card-divider span.info,
main #admin-content #tools_admin-page div.card div.card-divider span.info {
	color: #34689c;
	font-size: 1.25rem;
}
main #admin-content #site_admin-page div.card div.card-section,
main #admin-content #tree_admin-page div.card div.card-section,
main #admin-content #user_admin-page div.card div.card-section,
main #admin-content #media_admin-page div.card div.card-section,
main #admin-content #modules_admin-page div.card div.card-section,
main #admin-content #custom_admin-page div.card div.card-section,
main #admin-content #tools_admin-page div.card div.card-section {
	padding: 0;
}
main #admin-content #site_admin-page div.card div.card-section p,
main #admin-content #tree_admin-page div.card div.card-section p,
main #admin-content #user_admin-page div.card div.card-section p,
main #admin-content #media_admin-page div.card div.card-section p,
main #admin-content #modules_admin-page div.card div.card-section p,
main #admin-content #custom_admin-page div.card div.card-section p,
main #admin-content #tools_admin-page div.card div.card-section p {
	padding: 1rem;
}
main #admin-content #modules_admin-page div.card div.card-section img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}
main #admin-content table.modules_table label.accessLevel {
	padding-top: 0.3rem;
	white-space: nowrap;
}
main #admin-content table.modules_table th.order {
	width: 5rem;
}
main #admin-content #site_config-page label.middle {
	line-height: 1.5;
	margin: 0;
	padding: 0 0 1rem;
}
main #admin-content #family_tree_config-page #media .padding-bottom {
	margin-bottom: 1rem;
}
main #admin-content #family_tree_config-page #media .padding-left {
	margin-left: -0.1rem;
}
main #admin-content #family_tree_config-page ul.accordion {
	margin: 1rem;
}
main #admin-content #family_tree_config-page button.privacyOptions {
	margin: 1rem 0;
}
main #admin-content #family_tree_config-page tr.vertAlign {
	vertical-align: top;
}
main #admin-content #family_tree_config-page #restriction div.dataTables_wrapper table.dataTable thead tr th {
	padding: 0rem 0.5rem;
}
main #admin-content #family_tree_config-page #restriction div.dataTables_wrapper table.dataTable thead tr th svg.svg-inline--fa {
	right: 1rem;
	top: 1.25rem;
}
main #admin-content #family_tree_config-page #restriction .callout.help_content {
	font-size: 0.95rem !important;
}
main #admin-content #admin_media-page .media-folders {
	height: 3rem;
}
main #admin-content #admin_media-page .media-folders select {
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}
main #admin-content #admin_media-page table.dataTable {
	width: 100%;
}
main #admin-content #admin_media-page table.dataTable th:nth-of-type(2) {
	min-width: 10rem;
	padding: 0 1rem;
}
main #admin-content #admin_media-page table.dataTable th:nth-of-type(n + 4) {
	min-width: 6.5rem;
}
main #admin-content #admin_media-page table.dataTable td {
	vertical-align: top;
}
main #admin-content #admin_media-page table.dataTable td:nth-of-type(2) {
	text-align: center;
}
main #admin-content #admin_media-page table.dataTable td:nth-of-type(4) a {
	display: block;
}
main #admin-content #custom_language-page .card .card-section {
	padding-top: 0.5rem;
}
main #admin-content #custom_language-page .card .card-section .update {
	font-size: 0.7rem;
	height: 2rem;
	font-style: italic;
	padding: 0.5rem 0;
}
main #admin-content #custom_language-page .card .card-section .update .trash {
	cursor: pointer;
	float: right;
	font-size: 1rem;
}
main #admin-content #custom_theme-page ul {
	list-style-type: none;
	margin: 0;
}
main #admin-content #custom_theme-page ul.h5 {
	overflow: hidden;
}
main #admin-content #custom_theme-page ul.h6 {
	font-weight: 600;
}
main #admin-content #custom_theme-page ul li {
	font-weight: normal;
	height: 2rem;
	list-style: none;
	width: 75%;
}
main #admin-content #custom_theme-page ul li input {
	clear: both;
	float: right;
	margin-top: 0.25rem;
}
main #admin-content #custom_theme-page select option.new {
	color: #ff0000;
}
main #admin-content #site_clean-page #cleanup .input-group .input-group-field input[type=checkbox] {
	height: auto;
}
main #admin-content #site_clean-page #cleanup .input-group .input-group-field.folder {
	color: #34689c;
}
main #admin-content #site_clean-page #cleanup .input-group .svg-inline--fa.fa-fw {
	font-size: 1.25rem;
	width: auto;
}
main #admin-content #server-use ul li:last-of-type {
	font-weight: 600;
}
main #admin-content .php-info {
	font-size: 90%;
}
main #admin-content .php-info h1 {
	font-size: 1.5rem;
}
main #admin-content .php-info h2 {
	font-size: 1.25rem;
}
main #admin-content .php-info .center {
	text-align: center;
}
main #admin-content .php-info .center table {
	margin: 1em auto;
	text-align: left;
}
main #admin-content .php-info .center table td, main #admin-content .php-info .center table th {
	border: 0.025rem solid #878787;
	vertical-align: baseline;
	padding: 0.25rem;
}
main #admin-content .php-info .center table th {
	text-align: center;
}
main #admin-content .php-info .e {
	background-color: #ccf;
	width: 18rem;
}
main #admin-content .php-info .h {
	background-color: #99c;
}
main #admin-content .php-info .v {
	background-color: #ddd;
	max-width: 18rem;
	overflow-x: auto;
	word-break: break-word;
}
main #admin-content .php-info .v i {
	color: #1b1212;
}
main #admin-content .php-info img {
	border: 0;
	float: right;
	width: 4rem;
}
main #admin-content #admin_users_list-page a.button {
	margin-top: -5rem;
	margin-right: 0;
}
main #admin-content #user_details-page label.admin {
	font-size: 1rem;
	padding-bottom: 1rem;
	padding-top: 0.25rem;
}
main #admin-content #user_details-page label.offset {
	padding: 0.2rem 2rem 0;
}
main #admin-content #user_details-page table thead th:nth-child(4) {
	max-width: 5rem;
}
main #admin-content #user_details-page table thead th:nth-child(5) {
	width: 15rem;
}
main #admin-content #user_details-page dl dl {
	margin-left: 3rem;
	margin-right: 3rem;
}
main #admin-content #user_details-page #password-checker {
	height: 3rem;
}
main #admin-content #user_details-page #password-checker span {
	font-size: 0.9rem;
}
main #admin-content #user_details-page #password-checker .fa-check {
	color: #5da423;
}
main #admin-content #user_details-page #password-checker .progress {
	height: 0.5rem;
	margin-bottom: 0;
}
main #admin-content #user_details-page #password-checker .progress #password-strength.progress-bar {
	height: 0.5rem;
}
main #admin-content #user_details-page #password-checker .progress #password-strength.progress-bar.progress-bar-danger {
	background-color: #ff0000;
}
main #admin-content #user_details-page #password-checker .progress #password-strength.progress-bar.progress-bar-warning {
	background-color: #ffae00;
}
main #admin-content #user_details-page #password-checker .progress #password-strength.progress-bar.progress-bar-success {
	background-color: #5da423;
}
main #admin-content #site_logs-page h5 {
	font-weight: 500;
}
main #admin-content #site_logs-page form {
	margin-bottom: 1rem;
}
main #admin-content #site_logs-page #log_list th {
	min-width: 10rem;
	white-space: nowrap;
}
main #admin-content #change_list {
	width: 100%;
}
main #admin-content #change_list th {
	vertical-align: top;
	white-space: nowrap;
}
main #admin-content #change_list th:nth-child(4) {
	width: 50%;
}
main #admin-content #change_list td {
	vertical-align: top;
}
main #admin-content #change_list table.DifferencesSideBySide {
	border-collapse: collapse;
	width: 100%;
}
main #admin-content #change_list table.DifferencesSideBySide thead th {
	background-color: #c9c9c9;
	font-weight: normal;
	padding: 0.25rem;
	text-align: center;
}
main #admin-content #change_list table.DifferencesSideBySide tbody td {
	vertical-align: top;
	white-space: pre-wrap;
	word-wrap: break-word;
}
main #admin-content #change_list table.DifferencesSideBySide tbody td.Left, main #admin-content #change_list table.DifferencesSideBySide tbody td.Right {
	width: 45%;
}
main #admin-content #change_list table.DifferencesSideBySide tbody th {
	background-color: #c9c9c9;
	font-weight: normal;
}
main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeReplace, main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeInsert, main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeDelete {
	background-color: yellow;
}
main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeReplace ins, main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeInsert ins, main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeDelete ins {
	color: red;
	text-decoration: initial;
}
main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeReplace del, main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeInsert del, main #admin-content #change_list table.DifferencesSideBySide tbody.ChangeDelete del {
	color: blue;
	text-decoration: initial;
}
main #admin-content #sanity_check-page fieldset.fieldset {
	border-radius: 1rem;
	margin-top: -1rem;
}
main #admin-content #sanity_check-page fieldset.fieldset .input-group {
	font-size: 90%;
	line-height: 1.5;
	margin: 0;
}
main #admin-content #sanity_check-page fieldset.fieldset .input-group input.input-group-field {
	height: 1.5rem;
	display: block;
	flex: unset;
	font-size: 90%;
}
main #admin-content #sanity_check-page fieldset.fieldset .input-group input[type=checkbox].input-group-field {
	width: 1rem;
}
main #admin-content #sanity_check-page fieldset.fieldset .input-group span.switches {
	margin: 0 0.25rem;
	width: 3rem;
}
main #admin-content #sanity_check-page fieldset.fieldset .input-group input[type=text].input-group-field {
	width: 3rem;
}
main #admin-content #sanity_check-page fieldset.fieldset .input-group span.input-group-label {
	border: none;
	background: none;
	display: inline-block;
	height: auto;
	padding: 0 0.25rem;
	text-align: left;
	vertical-align: top;
	white-space: normal;
	width: 18rem;
}
main #admin-content #sanity_check-page fieldset.fieldset .input-group span.input-group-label .svg-inline--fa {
	margin: 0 0.5rem;
}
main #admin-content #sanity_check-page form[name=rela_form] {
	margin-top: -3.5rem;
}
main #admin-content #sanity_check-page div#sanityList .accordion .accordion-item.is-active a.accordion-title {
	background-color: #e1f5d1;
	color: #1b1212;
}
main #admin-content #sanity_check-page div#sanityList .accordion .accordion-item .accordion-title {
	font-weight: initial;
	padding-bottom: 0.5rem;
	padding-right: 4rem;
}
main #admin-content #sanity_check-page div#sanityList .accordion .accordion-item .accordion-title svg.svg-inline--fa {
	margin-top: 0.6rem;
}
main #admin-content #sanity_check-page div#sanityList .accordion .accordion-content table td p {
	margin-bottom: 0;
}
main #admin-content #unlinked-records-page {
	margin-bottom: 1rem;
}
main #admin-content #unlinked-records-page div.cell.titles {
	margin: 0 0.9375rem;
	padding: 0;
}
main #admin-content #unlinked-records-page .dropdown-pane {
	background-color: #e6e6e6;
	border: none;
	padding-top: 0;
	position: initial;
	width: 90%;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page h3,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page h3,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page h3 {
	font-size: 1.25rem;
	font-weight: 500;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page .h5,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page .h5,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page .h5 {
	font-size: 1rem;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page .popup_links .svg-inline--fa,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page .popup_links .svg-inline--fa,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page .popup_links .svg-inline--fa {
	color: #34689c;
	font-size: 1.25rem;
	margin: 0.65rem;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page .popup_links .svg-inline--fa:hover,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page .popup_links .svg-inline--fa:hover,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page .popup_links .svg-inline--fa:hover {
	color: #5da423;
	cursor: pointer;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page .input-group.autocomplete_container,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page .input-group.autocomplete_container,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page .input-group.autocomplete_container {
	margin: 0 0 0.75rem 0;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page .input-group.autocomplete_container input,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page .input-group.autocomplete_container input,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page .input-group.autocomplete_container input {
	height: 2.4rem;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page .input-group.autocomplete_container .input-group-label,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page .input-group.autocomplete_container .input-group-label,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page .input-group.autocomplete_container .input-group-label {
	height: 2.4rem;
	padding: 0;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page div#additional_facts ul.accordion,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page div#additional_facts ul.accordion,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page div#additional_facts ul.accordion {
	background-color: #e6e6e6;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page div#additional_facts ul.accordion li.accordion-item,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page div#additional_facts ul.accordion li.accordion-item,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page div#additional_facts ul.accordion li.accordion-item {
	border: 0.125rem solid #cacaca;
	margin-bottom: 0.5rem;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page div#additional_facts ul.accordion li.accordion-item a.accordion-title,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page div#additional_facts ul.accordion li.accordion-item a.accordion-title,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page div#additional_facts ul.accordion li.accordion-item a.accordion-title {
	color: #1b1212;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
	padding: 0 3rem;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page div#additional_facts ul.accordion li.accordion-item a.accordion-title .svg-inline--fa,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page div#additional_facts ul.accordion li.accordion-item a.accordion-title .svg-inline--fa,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page div#additional_facts ul.accordion li.accordion-item a.accordion-title .svg-inline--fa {
	left: 1rem;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page div#additional_facts ul.accordion li.accordion-item a.accordion-title:hover,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page div#additional_facts ul.accordion li.accordion-item a.accordion-title:hover,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page div#additional_facts ul.accordion li.accordion-item a.accordion-title:hover {
	background-color: #e6e6e6;
	color: #5da423;
}
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_indi-page div.sourceLinks,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_note-page div.sourceLinks,
main #admin-content #unlinked-records-page .dropdown-pane #edit_interface_sour-page div.sourceLinks {
	margin-bottom: 1rem;
}
main #admin-content #unlinked-records-page button {
	margin: 1rem;
	text-align: left;
}
main #admin-content #missing_data-page .callout.primary {
	font-size: 85%;
	font-style: italic;
	padding: 0.5rem 1rem;
}
main #admin-content #missing_data-page h5.subheader {
	font-size: 1rem;
}
main #admin-content #missing_data-page button.button {
	margin-top: 2rem;
	padding: 0.65rem 1rem;
}
main #admin-content #missing_data-page .input-group.autocomplete_container .ui-autocomplete-input,
main #admin-content #missing_data-page .input-group.autocomplete_container .input-group-label {
	height: 2.4375rem;
}
main #admin-content #find_duplicates-page div.tinySwitch {
	padding-top: 0.625rem;
	margin-bottom: 0.9375rem;
}
main #admin-content #find_duplicates-page .input-group-field#range {
	max-width: 7rem;
}
main #admin-content #find_duplicates-page .button-group .button {
	margin-bottom: 0;
}
main #admin-content #find_duplicates-page .button.reset {
	margin-top: -4.25rem;
}
main #admin-content #find_duplicates-page table th a {
	word-wrap: normal;
}
main #admin-content #find_duplicates-page table th svg {
	right: 1rem;
	top: 1.5rem;
}
main #admin-content #merge_records-page div.matched div {
	border: 0.125rem solid #e6e6e6;
	vertical-align: top;
}
main #admin-content #merge_records-page div.matched div:not(:nth-child(1)):not(:nth-child(2)) {
	border-top: 0;
}
main #admin-content #merge_records-page div.matched div:nth-child(2n) {
	border-left: 0;
}
main #admin-content #merge_records-page div.unmatched div.header {
	background-color: #e6e6e6;
	font-weight: 500;
	padding: 0.625rem;
}
main #admin-content #merge_records-page div.unmatched div.unmatchedL,
main #admin-content #merge_records-page div.unmatched div.unmatchedR {
	background-color: #c6d9ec;
	font-size: 90%;
	padding: 1rem;
}
main #admin-content #merge_records-page div.unmatched div.unmatchedR {
	background-color: #dde8f4;
}
main #admin-content #merge_records-page div.unmatched hr {
	margin: 0.5rem auto;
}
main #admin-content #merge_records-page div.unmatched hr:last-child {
	display: none;
}
main #admin-content #merge_records-page dl.cell {
	margin-bottom: 0.9375rem;
}
main #admin-content #merge_records-page dl.cell dd.cell {
	margin: 0;
	padding: 0 5rem;
}
main #admin-content #merge_records-page button.returnToStart {
	margin-top: 0.9375rem;
}
main #admin-content #faq-page table#reorderTable thead tr th.order,
main #admin-content #gallery-page table#reorderTable thead tr th.order,
main #admin-content #pages-page table#reorderTable thead tr th.order,
main #admin-content #tabi_stories-page table#reorderTable thead tr th.order {
	width: 8%;
}
main #admin-content #faq-page table#reorderTable thead tr th.id,
main #admin-content #gallery-page table#reorderTable thead tr th.id,
main #admin-content #pages-page table#reorderTable thead tr th.id,
main #admin-content #tabi_stories-page table#reorderTable thead tr th.id {
	width: 5%;
}
main #admin-content #faq-page table#reorderTable thead tr th.tree,
main #admin-content #gallery-page table#reorderTable thead tr th.tree,
main #admin-content #pages-page table#reorderTable thead tr th.tree,
main #admin-content #tabi_stories-page table#reorderTable thead tr th.tree {
	width: 20%;
}
main #admin-content #faq-page table#reorderTable thead tr th.action,
main #admin-content #gallery-page table#reorderTable thead tr th.action,
main #admin-content #pages-page table#reorderTable thead tr th.action,
main #admin-content #tabi_stories-page table#reorderTable thead tr th.action {
	text-align: center;
	width: 15%;
}
main #admin-content #faq-page table#reorderTable tbody,
main #admin-content #gallery-page table#reorderTable tbody,
main #admin-content #pages-page table#reorderTable tbody,
main #admin-content #tabi_stories-page table#reorderTable tbody {
	font-size: 0.95rem;
}
main #admin-content #faq-page table#reorderTable tbody tr.sortme td input,
main #admin-content #gallery-page table#reorderTable tbody tr.sortme td input,
main #admin-content #pages-page table#reorderTable tbody tr.sortme td input,
main #admin-content #tabi_stories-page table#reorderTable tbody tr.sortme td input {
	border: none;
	box-sizing: unset;
	width: 2rem;
	height: auto;
	padding: 0;
	margin: 0;
	background: none;
	box-shadow: none;
}
main #admin-content #gallery-page .kiwitreesInputGroup .input-group {
	margin-bottom: 0;
}
main #admin-content #tabi_stories-page div.small span,
main #admin-content #tabi_stories-page div.small a,
main #admin-content #tabi_stories-page td.small span,
main #admin-content #tabi_stories-page td.small a {
	font-size: 0.9rem;
}
main #admin-content #tabi_stories-page table#reorderTable thead tr th.action {
	text-align: center;
	width: 12%;
}
main #admin-content #tabi_stories-page table#reorderTable tbody td a {
	display: block;
}
main #admin-content #tabi_stories-page table#reorderTable tfoot {
	background: none;
	color: inherit;
}
main #admin-content #tabi_stories-page table#reorderTable tfoot td, main #admin-content #tabi_stories-page table#reorderTable tfoot th {
	font-weight: normal;
}
main #admin-content #tabi_stories-page .linkedIndis {
	margin-top: 0.9375rem;
}
main #admin-content #tabi_album-page table#album-config {
	border-collapse: separate;
	width: 100%;
}
main #admin-content #tabi_album-page table#album-config thead th,
main #admin-content #tabi_album-page table#album-config thead th input {
	max-width: 95%;
	text-align: center;
}
main #admin-content #tabi_album-page table#album-config thead th.albumGroup {
	font-size: 0.875rem;
}
main #admin-content #tabi_album-page table#album-config tbody th {
	background-color: #e6e6e6;
}
main #admin-content #tabi_album-page table#album-config tbody th span.rotate {
	display: block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
main #admin-content #tabi_album-page table#album-config tbody td:nth-child(n+2) {
	text-align: center;
}
main #admin-content #tabi_album-page button.reset {
	margin: -4.35rem 8rem 0;
}
main #admin-content #research_links-page fieldset {
	width: 100%;
}
main #admin-content #research_links-page button {
	margin: 1rem;
	text-align: left;
}
main #admin-content #research_links-page .topButton button {
	margin: 0 0.9375rem 0.9375rem 0.9375rem;
}
main #admin-content #research_links-page table td {
	padding: 0 0.9375rem;
}
main #admin-content #research_links-page h6,
main #admin-content #research_links-page .h6 {
	display: grid;
	font-weight: 600;
}
main #admin-content #research_links-page #research_links_table_filter {
	margin-bottom: 0.375rem;
}
main #admin-content #research_links-page label.areaList {
	display: inline-flex;
	font-size: 0.95rem;
	line-height: 1.5;
	vertical-align: top;
}
main #admin-content #source_check-page .dataTables_wrapper,
main #admin-content #source_review-page .dataTables_wrapper {
	margin-top: 2.5rem;
}
main #admin-content #gm_pages {
	margin-bottom: 1rem;
}
main #admin-content #gm_pages li {
	width: 33%;
}
main #admin-content #gm_config div.radio {
	margin-bottom: 1rem;
}
main #admin-content #gm_config div.close {
	margin-bottom: 2rem;
}
main #admin-content #gm_config div.close div.input-group {
	margin-bottom: 0.25rem;
}
main #admin-content #gm_config div.close select {
	margin-bottom: 0;
}
main #admin-content #gm_config div.close input[type=text] {
	margin-bottom: 0.25rem;
}
main #admin-content #gm_config div.close label {
	margin-bottom: 0;
}
main #admin-content #gm_list #gm_active label,
main #admin-content #gm_list #gm_count label {
	font-size: inherit;
}
main #admin-content #gm_list #gm_breadcrumb {
	line-height: 3;
}
main #admin-content #gm_list #gm_breadcrumb a {
	color: #5da423;
	font-weight: 700;
}
main #admin-content #gm_list #gm_breadcrumb a:hover {
	color: #34689c;
}
main #admin-content #map_pane {
	border: 0.125rem solid #878787;
	height: 30rem;
	margin-bottom: 1rem;
}
main #admin-content table#gm_check_details .place {
	min-width: 8rem;
}
main #admin-content table#gm_check_details .latlong {
	min-width: 3rem;
}
main #admin-content #editplaces-page div.input-group {
	margin-bottom: 0;
}
main #admin-content #editplaces-page a.button {
	margin-top: 0.125rem;
	font-weight: 600;
}
main #admin-content #editplaces-page a.button#new_pl_name1, main #admin-content #editplaces-page a.button#new_pl_name2 {
	white-space: nowrap;
}
main #admin-content #editplaces-page .precision span {
	margin: 0 0.75rem;
}
main #admin-content #changeflags-page .flags_item {
	float: left;
	line-height: 3;
	padding: 5px;
	width: 200px;
}
main #admin-content #changeflags-page .flags_item img {
	vertical-align: text-top;
}
main #admin-content #changeflags-page .flags_item span {
	float: left;
	height: 65px;
	margin-bottom: 20px;
	width: 60px;
}
main #admin-content table#clean {
	width: auto;
}
main #admin-content table#clean th {
	background-color: #e6e6e6;
	text-align: left;
}
main #admin-content table#clean td select {
	margin-top: 1rem;
}
main #admin-content #manage_modules-page div.callout.warning {
	padding: 0.65rem 0.9375rem 0;
	font-size: 0.95rem;
}
main #admin-content table.modules_table td select {
	margin: 0;
	font-size: 0.95rem;
	height: 1.75rem;
}
main #admin-content #batch_update-page pre {
	background-color: #e6e6e6;
	font-size: 0.85rem;
	padding: 0.9375rem;
	margin: 0 0.9375rem;
}
main #admin-content #batch_update-page #batch_update-results .added_text {
	background-color: #ffd780;
	color: #ff0000;
}
main #admin-content #batch_update-page #batch_update-results .deleted_text {
	text-decoration: line-through;
}
main #admin-content #relations_config-page h6.accepted {
	font-weight: 900;
}
main #admin-content #sitemap-page pre {
	color: #34689c;
}

footer {
	background-color: #34689c;
	line-height: 4rem;
}
footer .logo {
	padding: 1rem;
	text-align: center;
	vertical-align: middle;
}
footer .logo a {
	color: #fefefe;
}