.caution {
	color: #34689c;
}

span.administrator {
	color: #ff0000;
}

span.admin {
	color: #34689c;
	font-weight: 500;
}

span.accept {
	color: #5da423;
	font-weight: 500;
}

span.edit {
	color: #ffae00;
	font-weight: 500;
}

span.access {
	color: #878787;
	font-weight: 500;
}

@media print, screen and (max-width: 48.06125em) {
	#setup-body button.button {
		width: 100% !important;
	}
}

@media print, screen and (max-width: 48.06125em) {
	.no-js .top-bar {
		display: none;
	}
}
@media print, screen and (min-width: 48.0625em) {
	.no-js .title-bar {
		display: none;
	}
}

/* sizes are 48 - 48.0625 - 64 - 64.0625 em */
@media print, screen and (max-width: 64.0625em) {
	.info-help:not(.summary) {
		display: none;
	}

	#admin-head {
		padding-bottom: 0.5rem;
	}
	#admin-head .first-top-bar .top-bar-right ul li {
		margin: auto;
	}

	#admin-container #admin-menu {
		padding: 0;
	}
	#admin-container .callout {
		font-size: 0.75rem;
	}
}